## Variables

In [61]:
vienas, du, trys = 1, 2, 3
print(vienas, du, trys)

1 2 3

In [62]:
Vienas = "vienetukas"
print(Vienas)
print(vienas)

vienetukas
1

In [63]:
x = 5
y = "Hello, world!"
z = 3.14
print(type(x))  # iÅ¡spausdina <class 'int'>
print(type(y))  # iÅ¡spausdina <class 'str'>
print(type(z))  # iÅ¡spausdina <class 'float'>

<class 'int'>
<class 'str'>
<class 'float'>

In [64]:
pirmas = 10
antras = 5
print(pirmas, antras)
pirmas = antras
antras = 7
print(pirmas, antras)

10 5
5 7

In [65]:
pusantro = 1.5
sesi = pusantro * 4
print(sesi, type(sesi))

6.0 <class 'float'>

## Basic Logic

In [66]:
a = 10
b = 10
if a == b:
    print("a ir b yra lygÅ«s")
else:
    print("a ir b nÄ—ra lygÅ«s")

a ir b yra lygÅ«s

In [67]:
c = a == b
c

True

In [68]:
a = 10
b = 10
if a != b:
    print("a ir b yra nelygÅ«s")
else:
    print("a ir b yra lygÅ«s")

a ir b yra lygÅ«s

In [69]:
print(a != b)

False

In [70]:
a = 10
b = 10
if b < a:
    print("b yra maÅ¾esnis nei a")
else:
    print("b yra didesnis arba lygus a")

b yra didesnis arba lygus a

In [71]:
print(b <= a)

True

In [72]:
x = True
y = False

print(x) # iÅ¡vestÅ³ "True"
print(y) # iÅ¡vestÅ³ "False"

True
False

In [73]:
a = 10
b = 5
teiginys = a > b
print(teiginys)

True

In [74]:
if teiginys:
    print("a yra didesnis uÅ¾ b")
else:
    print("a yra maÅ¾esnis arba lygus b")

# pasitikrinimui
print(f"teiginys: {teiginys}")

a yra didesnis uÅ¾ b
teiginys: True

In [75]:
type(teiginys)

bool

In [76]:
True == 1

True

In [77]:
False == 0

True

In [78]:
True == False

False

In [79]:
True != False

True

In [80]:
True > False

True

In [81]:
True < False

False

In [82]:
skaicius = 17
kitas = 0

In [83]:
if skaicius:
    print("suveike")

suveike

In [84]:
if kitas:
    print("suveike")
else:
    print("oops")

oops

In [85]:
kitas = 3
print(skaicius and kitas)

3

In [86]:
kitas = False
if skaicius and kitas:
    print("abu skaiciai yra")
else:
    print("Kazko truksta")

Kazko truksta

In [87]:
kitas = False
if skaicius or kitas:
    print("bent vienas skaicius yra OK")
else:
    print("Kazko truksta")

bent vienas skaicius yra OK

In [88]:
print(kitas or skaicius)

17

In [89]:
a = 10
b = 5
if a > 5 and b < 10:
    print("Abu teiginiai yra tiesa")
else:
    print("Vienas ar abu teiginiai yra netiesa")

Abu teiginiai yra tiesa

In [90]:
True and False

False

In [91]:
False and False

False

In [92]:
True and True

True

In [93]:
False or True

True

In [94]:
True or True

True

In [95]:
not (False and False)

True

In [96]:
not False and True

True

In [97]:
not True and True

False

In [98]:
not True or True

True

In [99]:
a = 10
b = 5
c = 20
d = a > b and b < c or c != 20
d

True

In [100]:
a = 5
# a *= 5
a /= 5
a

1.0

In [101]:
2 ** 16

65536

In [102]:
18 ** 3

5832

In [103]:
kisene = 0.01
palukanos = 0.01
po_minutes = kisene * (1 + palukanos)
po_minutes

0.0101

In [104]:
dienoj_minuciu = 24 * 60
dienoj_minuciu

1440

In [105]:
kisene = 0.01
palukanos = 0.01
for minute in range(dienoj_minuciu * 2):
    kisene *= 1 + palukanos
    # kisene = kisene * (1 + palukanos)
kisene

27896935223.95062

## Stringuliai

In [106]:
pasisveikinimas = 'Labas, pasauli!'
klausimas = "Kaip sekasi?"

In [107]:
print(pasisveikinimas)
print(klausimas)

Labas, pasauli!
Kaip sekasi?

In [108]:
print(pasisveikinimas[4])

s

In [109]:
print(pasisveikinimas[-1])

!

In [110]:
rytinis = pasisveikinimas[:5] + " rytas" + pasisveikinimas[5:]
print(rytinis)

Labas rytas, pasauli!

In [111]:
vardai = ["Jonas", "Petras", "ZosÄ—", "KodÅ¾ius"]
for vardas in vardai:
    pasisveikinimas = "Sveikas"
    if vardas.endswith("as"):
        vardas = vardas[:-2] + "ai"
    elif vardas.endswith("ius"):
        vardas = vardas[:-2] + "au"
    elif vardas.endswith("Ä—"):
        vardas = vardas[:-1] + "e"
        pasisveikinimas = pasisveikinimas[:-1]
    print(f"{pasisveikinimas}, {vardas}")

Sveikas, Jonai
Sveikas, Petrai
Sveika, Zose
Sveikas, KodÅ¾iau

In [112]:
tekstas = "Vienoje eiluteje\ndar viena eilute"
print(tekstas)

Vienoje eiluteje
dar viena eilute

In [113]:
antraste = "Nr.\tVardas\tPinigai"
pirma = "1\tKestas\t1000"
antra = "2\tRomualdas\t400"
print(antraste, pirma, antra, sep="\n")

Nr.	Vardas	Pinigai
1	Kestas	1000
2	Romualdas	400

In [114]:
pinigai = [1000, 400, 0.50, 99000.01]
print(f"{'Nr.':3s} | {'vardas':30s} | {'pinigai':10s}")
for numeris in range(4):
    print(f"{numeris+1:>3d} | {vardai[numeris]:30s} | {pinigai[numeris]:10.2f}")

Nr. | vardas                         | pinigai
  1 | Jonas                          |    1000.00
  2 | Petras                         |     400.00
  3 | ZosÄ—                           |       0.50
  4 | KodÅ¾ius                        |   99000.01

In [115]:
print("\u00A9 2023 Middle of Nowhere oy")

Â© 2023 Middle of Nowhere oy

In [116]:
sirdele = "\U0001F9E1"
print(sirdele)

ðŸ§¡

### String metodai

In [117]:
sakinys = "Sveiki vyrai!"
sakinys

'Sveiki vyrai!'

In [118]:
sakinys.upper()

'SVEIKI VYRAI!'

In [119]:
sakinys_mazosiomis = sakinys.lower()
sakinys_mazosiomis

'sveiki vyrai!'

In [120]:
vaisiai = ["obuolys", "braÅ¡kÄ—", "vynuogÄ—", "vynuogÄ—", "bananas", "vynuogÄ—", "kiwi", "braÅ¡kÄ—", "marakuja", "apelsinas", "ananasas", "vynuogÄ—"]
vaisiai

['obuolys',
 'braÅ¡kÄ—',
 'vynuogÄ—',
 'vynuogÄ—',
 'bananas',
 'vynuogÄ—',
 'kiwi',
 'braÅ¡kÄ—',
 'marakuja',
 'apelsinas',
 'ananasas',
 'vynuogÄ—']

In [121]:
print(";\n".join(vaisiai))

obuolys;
braÅ¡kÄ—;
vynuogÄ—;
vynuogÄ—;
bananas;
vynuogÄ—;
kiwi;
braÅ¡kÄ—;
marakuja;
apelsinas;
ananasas;
vynuogÄ—

In [122]:
sunumeruoti_vaisiai = []
for nr, vaisius in enumerate(vaisiai):
    sunumeruoti_vaisiai.append(f'{nr + 1}: {vaisius}')
vaisiu_salotos = "\n".join(sunumeruoti_vaisiai)
print(vaisiu_salotos)

1: obuolys
2: braÅ¡kÄ—
3: vynuogÄ—
4: vynuogÄ—
5: bananas
6: vynuogÄ—
7: kiwi
8: braÅ¡kÄ—
9: marakuja
10: apelsinas
11: ananasas
12: vynuogÄ—

In [123]:
salotu_vaisiai = vaisiu_salotos.split('\n')
salotu_vaisiai

['1: obuolys',
 '2: braÅ¡kÄ—',
 '3: vynuogÄ—',
 '4: vynuogÄ—',
 '5: bananas',
 '6: vynuogÄ—',
 '7: kiwi',
 '8: braÅ¡kÄ—',
 '9: marakuja',
 '10: apelsinas',
 '11: ananasas',
 '12: vynuogÄ—']

In [124]:
teisingi_vaisiai = []
for vaisius in salotu_vaisiai:
    teisingi_vaisiai.append(vaisius.split(": ")[1])
print(teisingi_vaisiai)

['obuolys', 'braÅ¡kÄ—', 'vynuogÄ—', 'vynuogÄ—', 'bananas', 'vynuogÄ—', 'kiwi', 'braÅ¡kÄ—', 'marakuja', 'apelsinas', 'ananasas', 'vynuogÄ—']

In [125]:
for indeksas, vaisius in enumerate(salotu_vaisiai):
    salotu_vaisiai[indeksas] = vaisius[3:].strip()
print(salotu_vaisiai)

['obuolys', 'braÅ¡kÄ—', 'vynuogÄ—', 'vynuogÄ—', 'bananas', 'vynuogÄ—', 'kiwi', 'braÅ¡kÄ—', 'marakuja', 'apelsinas', 'ananasas', 'vynuogÄ—']

In [126]:
print(vaisiu_salotos.title())

1: Obuolys
2: BraÅ¡kÄ—
3: VynuogÄ—
4: VynuogÄ—
5: Bananas
6: VynuogÄ—
7: Kiwi
8: BraÅ¡kÄ—
9: Marakuja
10: Apelsinas
11: Ananasas
12: VynuogÄ—

In [127]:
print(vaisiai[3].capitalize())

VynuogÄ—

In [128]:
sakinys.title()

'Sveiki Vyrai!'

In [129]:
vaisiu_salotos.find("Å¡")

17

In [130]:
if vaisiu_salotos.find("1") >= 0:
    print("Radau 1")
else:
    print("Neradau 1")

Radau 1

In [131]:
naujos_salotos = vaisiu_salotos.replace("vynuogÄ—", "vyÅ¡nia", 2)
print(naujos_salotos)

1: obuolys
2: braÅ¡kÄ—
3: vyÅ¡nia
4: vyÅ¡nia
5: bananas
6: vynuogÄ—
7: kiwi
8: braÅ¡kÄ—
9: marakuja
10: apelsinas
11: ananasas
12: vynuogÄ—

In [132]:
naujos_salotos = vaisiu_salotos.replace(":", ".")
print(naujos_salotos)

1. obuolys
2. braÅ¡kÄ—
3. vynuogÄ—
4. vynuogÄ—
5. bananas
6. vynuogÄ—
7. kiwi
8. braÅ¡kÄ—
9. marakuja
10. apelsinas
11. ananasas
12. vynuogÄ—

### Formataviams

In [133]:
tekstas = "Vaisiai: " + vaisiai[0] + ", " + vaisiai[5] + "..."
print(tekstas)

Vaisiai: obuolys, vynuogÄ—...

In [134]:
ataskaita = "Viso vaisiÅ³: " + str(len(vaisiai))
print(ataskaita)

Viso vaisiÅ³: 12

In [135]:
kitos_salotos = f"Vaisiai: {vaisiai[0]}, {vaisiai[3]}, {vaisiai[7]}..."
print(kitos_salotos)

Vaisiai: obuolys, vynuogÄ—, braÅ¡kÄ—...

In [136]:
vardas = "Kestutis"
zmones = 40

tekstas = "Sveiki, mano vardas yra %s ir man yra %d metÅ³." % (vardas, zmones)
print(tekstas)

Sveiki, mano vardas yra Kestutis ir man yra 40 metÅ³.

In [137]:
tekstas = "Vaisiai: {0}, {2}, {1}, {0}...".format(vaisiai[0], vaisiai[1], vaisiai[2])
print(tekstas)

Vaisiai: obuolys, vynuogÄ—, braÅ¡kÄ—, obuolys...

In [138]:
tekstas = "Vaisiai: {0}, {2}, {1}, {0}...".format(*vaisiai[5:8])
print(tekstas)

Vaisiai: vynuogÄ—, braÅ¡kÄ—, kiwi, vynuogÄ—...

In [139]:
labai_daug_pinigu = 456823991.777
suformatuoti_pinigai = f"Mano sÄ…skaitoje yra: {labai_daug_pinigu:,.2f}"
print(suformatuoti_pinigai)

Mano sÄ…skaitoje yra: 456,823,991.78

In [140]:
print(f"{labai_daug_pinigu:g}")

4.56824e+08

In [141]:
nelabai_daug = 7777.7575150051515
print(f"{nelabai_daug:g}")

7777.76

In [142]:
absoliutus_nulis = float(0)
print(absoliutus_nulis)
print(f"{absoliutus_nulis:g}")

0.0
0

In [143]:
skaiciai = [77.5, 100.9, 1.05, 3541.777]
for skaicius in skaiciai:
    print(f"{skaicius:9.1f}")

     77.5
    100.9
      1.1
   3541.8

In [144]:
kodai = [123, 7711, 2]
for kodas in kodai:
    print(f"{kodas:04d}")

0123
7711
0002

In [145]:
skaiciai = [77.5, 100.9, 1.05, 3541.777]
for skaicius in skaiciai:
    print(f"{skaicius:^9.1f} | kazkas dar")

  77.5    | kazkas dar
  100.9   | kazkas dar
   1.1    | kazkas dar
 3541.8   | kazkas dar

In [146]:
skaiciai = [77.5, 100.9, 1.05, 3541.777]
for skaicius in skaiciai:
    print(f"{skaicius:<9.1f} | kazkas dar")

77.5      | kazkas dar
100.9     | kazkas dar
1.1       | kazkas dar
3541.8    | kazkas dar

### input

In [147]:
# skaicius = float(input("Duokite skaiÄiÅ³: "))
# print(f"JÅ«sÅ³ skaiÄius: {skaicius:g}")

In [148]:
print(*vaisiai, sep=', ', end="...")

obuolys, braÅ¡kÄ—, vynuogÄ—, vynuogÄ—, bananas, vynuogÄ—, kiwi, braÅ¡kÄ—, marakuja, apelsinas, ananasas, vynuogÄ—...

In [149]:
print(*vaisiai)

obuolys braÅ¡kÄ— vynuogÄ— vynuogÄ— bananas vynuogÄ— kiwi braÅ¡kÄ— marakuja apelsinas ananasas vynuogÄ—

## kalkuliatorius

In [150]:
# print("Sveiki atvykÄ™ Ä¯ interaktyvÅ³ skaiÄiuotuvÄ…!")
# print("Pasirinkite veiksmÄ…, kuriuo norite atlikti su dviem skaiÄiais:")
# print("1 - SudÄ—tis")
# print("2 - Atimtis")
# print("3 - Daugyba")
# print("4 - Dalyba")

# pasirinkimas = input("Pasirinkite: ")
# skaicius1 = float(input("Pirmas skai2ius: "))
# skaicius2 = float(input("Antras skai2ius: "))

# if pasirinkimas == "1":
#     suma = skaicius1 + skaicius2
#     print(f"Suma: {suma:10.2f}")
# elif pasirinkimas == "2":
#     skirtumas = skaicius1 - skaicius2
#     print(f"Skitrumas: {skirtumas:10.2f}")
# elif pasirinkimas == "3":
#     sandauga = skaicius1 * skaicius2
#     print(f"Sandauga: {sandauga:10.2f}")
# elif pasirinkimas == "4":
#     dalmuo = skaicius1 / skaicius2
#     print(f"Dalmuo: {dalmuo:10.2f}")
# else:
#     print(f"Klaida: {pasirinkimas} n4ra teisingas pasirinkimas")

## SÄ…raÅ¡ai / list

In [151]:
tuscias_sarasas = list()
skaiciu_sarasas = [1, 2, 3, 4, 5]
zodziu_sarasas = ['obuolys', 'kriauÅ¡Ä—', 'bananas']
misrus_sarasas = ['obuolys', 2, 1.4, 'kriauÅ¡Ä—', True, 'bananas']
print(tuscias_sarasas)

[]

In [152]:
zodziu_sarasas[1]

'kriauÅ¡Ä—'

In [153]:
misrus_sarasas[-2]

True

In [154]:
type(misrus_sarasas)

list

In [155]:
type(misrus_sarasas[-2])

bool

In [156]:
vaisiai[5:8]

['vynuogÄ—', 'kiwi', 'braÅ¡kÄ—']

In [157]:
vaisiai[:7]

['obuolys', 'braÅ¡kÄ—', 'vynuogÄ—', 'vynuogÄ—', 'bananas', 'vynuogÄ—', 'kiwi']

In [158]:
vaisiai[::-3]

['vynuogÄ—', 'marakuja', 'vynuogÄ—', 'vynuogÄ—']

In [159]:
vaisiai[3] = 'kriauÅ¡Ä—'
vaisiai

['obuolys',
 'braÅ¡kÄ—',
 'vynuogÄ—',
 'kriauÅ¡Ä—',
 'bananas',
 'vynuogÄ—',
 'kiwi',
 'braÅ¡kÄ—',
 'marakuja',
 'apelsinas',
 'ananasas',
 'vynuogÄ—']

In [160]:
vaisiai[5:7] = ['persimonas', 'avokadas', 'Å¾emuogÄ—', 'kiwi', 'bruknÄ—']
print(*vaisiai, sep=', ')
print(", ".join(vaisiai))

obuolys, braÅ¡kÄ—, vynuogÄ—, kriauÅ¡Ä—, bananas, persimonas, avokadas, Å¾emuogÄ—, kiwi, bruknÄ—, braÅ¡kÄ—, marakuja, apelsinas, ananasas, vynuogÄ—
obuolys, braÅ¡kÄ—, vynuogÄ—, kriauÅ¡Ä—, bananas, persimonas, avokadas, Å¾emuogÄ—, kiwi, bruknÄ—, braÅ¡kÄ—, marakuja, apelsinas, ananasas, vynuogÄ—

In [161]:
vaisiai.append('kokosas')

In [162]:
print(", ".join(vaisiai))

obuolys, braÅ¡kÄ—, vynuogÄ—, kriauÅ¡Ä—, bananas, persimonas, avokadas, Å¾emuogÄ—, kiwi, bruknÄ—, braÅ¡kÄ—, marakuja, apelsinas, ananasas, vynuogÄ—, kokosas

In [163]:
darzoves = ['morka', 'rabarbaras', 'Äiliukas', 'ropÄ—']
vaisiai.extend(darzoves)
print(*vaisiai)

obuolys braÅ¡kÄ— vynuogÄ— kriauÅ¡Ä— bananas persimonas avokadas Å¾emuogÄ— kiwi bruknÄ— braÅ¡kÄ— marakuja apelsinas ananasas vynuogÄ— kokosas morka rabarbaras Äiliukas ropÄ—

In [164]:
vaisiai.insert(7, 'lime')
print(*vaisiai, end="\n\n\n")

obuolys braÅ¡kÄ— vynuogÄ— kriauÅ¡Ä— bananas persimonas avokadas lime Å¾emuogÄ— kiwi bruknÄ— braÅ¡kÄ— marakuja apelsinas ananasas vynuogÄ— kokosas morka rabarbaras Äiliukas ropÄ—

In [165]:
vaisiai.remove('lime')
vaisiai

['obuolys',
 'braÅ¡kÄ—',
 'vynuogÄ—',
 'kriauÅ¡Ä—',
 'bananas',
 'persimonas',
 'avokadas',
 'Å¾emuogÄ—',
 'kiwi',
 'bruknÄ—',
 'braÅ¡kÄ—',
 'marakuja',
 'apelsinas',
 'ananasas',
 'vynuogÄ—',
 'kokosas',
 'morka',
 'rabarbaras',
 'Äiliukas',
 'ropÄ—']

In [166]:
# while True:
#     try:
#         vaisiai.remove('braÅ¡kÄ—')
#         print('iÅ¡bemÄ—m vienÄ… braÅ¡kÄ™')
#     except Exception as e:
#         print('nebÄ—ra:', e)
#         break

In [167]:
while 'braÅ¡kÄ—' in vaisiai:
    vaisiai.remove('braÅ¡kÄ—')
print(vaisiai)

['obuolys', 'vynuogÄ—', 'kriauÅ¡Ä—', 'bananas', 'persimonas', 'avokadas', 'Å¾emuogÄ—', 'kiwi', 'bruknÄ—', 'marakuja', 'apelsinas', 'ananasas', 'vynuogÄ—', 'kokosas', 'morka', 'rabarbaras', 'Äiliukas', 'ropÄ—']

In [168]:
print(vaisiai.pop(4))
print(vaisiai)

persimonas
['obuolys', 'vynuogÄ—', 'kriauÅ¡Ä—', 'bananas', 'avokadas', 'Å¾emuogÄ—', 'kiwi', 'bruknÄ—', 'marakuja', 'apelsinas', 'ananasas', 'vynuogÄ—', 'kokosas', 'morka', 'rabarbaras', 'Äiliukas', 'ropÄ—']

In [169]:
# del vaisiai[3:-3]
# vaisiai

In [170]:
indeksas = 0
while True:
    try:
        indeksas = vaisiai.index('vynuogÄ—', indeksas+1)
        print(indeksas)
    except Exception as e:
        print(e)
        break

1
11
'vynuogÄ—' is not in list

In [171]:
for vaisius in vaisiai:
    print(vaisius)
    if vaisius == 'avokadas':
        break

obuolys
vynuogÄ—
kriauÅ¡Ä—
bananas
avokadas

In [172]:
vaisiai.count('vynuogÄ—')

2

In [173]:
len(vaisiai)

17

In [174]:
# vaisiai.sort()
# print(vaisiai)

In [175]:
# vaisiai.sort(reverse=True)
# print(*vaisiai)

In [176]:
vaisiai.reverse()
print(*vaisiai)

ropÄ— Äiliukas rabarbaras morka kokosas vynuogÄ— ananasas apelsinas marakuja bruknÄ— kiwi Å¾emuogÄ— avokadas bananas kriauÅ¡Ä— vynuogÄ— obuolys

In [177]:
print('obuolys' in vaisiai)

True

## Å½odynai / dict

In [178]:
tuscias_zodynas = {}
tuscias_zodynas

{}

In [179]:
tuscias_zodynas = dict()
tuscias_zodynas

{}

In [180]:
saldytuvas = {
    'pienas': 2,
    'braÅ¡kÄ—s': 1.5,
    'sviestas': 0.4,
}
print(saldytuvas)

{'pienas': 2, 'braÅ¡kÄ—s': 1.5, 'sviestas': 0.4}

In [181]:
saldytuvas = {
    'darzoves': {
        'morkos': 5,
        'kopustai': 1,
    },
    'gÄ—rimai': {
        'pienas': 2,
        'alus': 24,
        'gira': 7,
        'vynas': 0.75,
    },
    'kumpis': 0.8,
}
print(saldytuvas)

{'darzoves': {'morkos': 5, 'kopustai': 1}, 'gÄ—rimai': {'pienas': 2, 'alus': 24, 'gira': 7, 'vynas': 0.75}, 'kumpis': 0.8}

In [182]:
print(saldytuvas['darzoves']['kopustai'])

1

In [183]:
print(saldytuvas['kumpis'])

0.8

In [184]:
saldytuvas['mÄ—sa'] = {
    'kumpis': 2.8,
    'skilandine': 5,
    'vista': 4,
}
del saldytuvas['kumpis']
print(saldytuvas)

{'darzoves': {'morkos': 5, 'kopustai': 1}, 'gÄ—rimai': {'pienas': 2, 'alus': 24, 'gira': 7, 'vynas': 0.75}, 'mÄ—sa': {'kumpis': 2.8, 'skilandine': 5, 'vista': 4}}

In [185]:
print(*saldytuvas.keys())

darzoves gÄ—rimai mÄ—sa

In [186]:
print(*saldytuvas.values(), sep="\n")

{'morkos': 5, 'kopustai': 1}
{'pienas': 2, 'alus': 24, 'gira': 7, 'vynas': 0.75}
{'kumpis': 2.8, 'skilandine': 5, 'vista': 4}

In [187]:
print(*saldytuvas.items(), sep="\n")

('darzoves', {'morkos': 5, 'kopustai': 1})
('gÄ—rimai', {'pienas': 2, 'alus': 24, 'gira': 7, 'vynas': 0.75})
('mÄ—sa', {'kumpis': 2.8, 'skilandine': 5, 'vista': 4})

In [188]:
print(saldytuvas.get('mÄ—sa'))

{'kumpis': 2.8, 'skilandine': 5, 'vista': 4}

In [189]:
gerimai = saldytuvas.get('gÄ—rimai')
alus = gerimai.get('alus')
print(alus)

24

In [190]:
vynas = gerimai.pop('vynas', 0)
print(vynas)
print(gerimai)

0.75
{'pienas': 2, 'alus': 24, 'gira': 7}

## `for` ciklas

In [191]:
skaiciai = [1, 2, 3, 4, 5]

for skaicius in skaiciai:
    print(skaicius)

1
2
3
4
5

In [192]:
skaiciai = [2, 6, 7, 9, 41, 4, 46, 789]

skaiciu_suma = 0

for skaicius in skaiciai:
    skaiciu_suma += skaicius

print(skaiciu_suma) # 904

904

In [193]:
zmones = {'Rokas': 20, 'Andrius': 34, 'Laura': 25}

for zmogus in zmones:
    print(zmogus)

Rokas
Andrius
Laura

In [194]:
for zmogus in zmones:
    print(f"{zmogus}: {zmones[zmogus]}")

Rokas: 20
Andrius: 34
Laura: 25

In [195]:
for amzius in zmones.values():
    print(amzius)

20
34
25

In [196]:
print(*zmones.values())

20 34 25

In [197]:
for zmogus in zmones.keys():
    print(zmogus)

Rokas
Andrius
Laura

In [198]:
for zmogus, amzius in zmones.items():
    print(f"{zmogus}: {amzius}")

Rokas: 20
Andrius: 34
Laura: 25

In [199]:
for zmogus, amzius in zmones.items():
    amzius += 1
    print(f"{zmogus}: {amzius}")

Rokas: 21
Andrius: 35
Laura: 26

In [200]:
for zmogus in zmones:
    zmones[zmogus] += 1
    print(f"{zmogus}: {zmones[zmogus]}")

Rokas: 21
Andrius: 35
Laura: 26

In [201]:
list(range(5))

[0, 1, 2, 3, 4]

In [202]:
print(*range(10, 99))

10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98

In [203]:
for metai in range(2019, 2024):
    print(metai)

2019
2020
2021
2022
2023

In [204]:
for metai in range(-2000, 2000):
    if metai < 0:
        print(f"{abs(metai)} pr.kr", end=", ")
    else:
        print(metai, end=", ")

2000 pr.kr, 1999 pr.kr, 1998 pr.kr, 1997 pr.kr, 1996 pr.kr, 1995 pr.kr, 1994 pr.kr, 1993 pr.kr, 1992 pr.kr, 1991 pr.kr, 1990 pr.kr, 1989 pr.kr, 1988 pr.kr, 1987 pr.kr, 1986 pr.kr, 1985 pr.kr, 1984 pr.kr, 1983 pr.kr, 1982 pr.kr, 1981 pr.kr, 1980 pr.kr, 1979 pr.kr, 1978 pr.kr, 1977 pr.kr, 1976 pr.kr, 1975 pr.kr, 1974 pr.kr, 1973 pr.kr, 1972 pr.kr, 1971 pr.kr, 1970 pr.kr, 1969 pr.kr, 1968 pr.kr, 1967 pr.kr, 1966 pr.kr, 1965 pr.kr, 1964 pr.kr, 1963 pr.kr, 1962 pr.kr, 1961 pr.kr, 1960 pr.kr, 1959 pr.kr, 1958 pr.kr, 1957 pr.kr, 1956 pr.kr, 1955 pr.kr, 1954 pr.kr, 1953 pr.kr, 1952 pr.kr, 1951 pr.kr, 1950 pr.kr, 1949 pr.kr, 1948 pr.kr, 1947 pr.kr, 1946 pr.kr, 1945 pr.kr, 1944 pr.kr, 1943 pr.kr, 1942 pr.kr, 1941 pr.kr, 1940 pr.kr, 1939 pr.kr, 1938 pr.kr, 1937 pr.kr, 1936 pr.kr, 1935 pr.kr, 1934 pr.kr, 1933 pr.kr, 1932 pr.kr, 1931 pr.kr, 1930 pr.kr, 1929 pr.kr, 1928 pr.kr, 1927 pr.kr, 1926 pr.kr, 1925 pr.kr, 1924 pr.kr, 1923 pr.kr, 1922 pr.kr, 1921 pr.kr, 1920 pr.kr, 1919 pr.kr, 1918 pr.kr, 1917 pr.kr, 1916 pr.kr, 1915 pr.kr, 1914 pr.kr, 1913 pr.kr, 1912 pr.kr, 1911 pr.kr, 1910 pr.kr, 1909 pr.kr, 1908 pr.kr, 1907 pr.kr, 1906 pr.kr, 1905 pr.kr, 1904 pr.kr, 1903 pr.kr, 1902 pr.kr, 1901 pr.kr, 1900 pr.kr, 1899 pr.kr, 1898 pr.kr, 1897 pr.kr, 1896 pr.kr, 1895 pr.kr, 1894 pr.kr, 1893 pr.kr, 1892 pr.kr, 1891 pr.kr, 1890 pr.kr, 1889 pr.kr, 1888 pr.kr, 1887 pr.kr, 1886 pr.kr, 1885 pr.kr, 1884 pr.kr, 1883 pr.kr, 1882 pr.kr, 1881 pr.kr, 1880 pr.kr, 1879 pr.kr, 1878 pr.kr, 1877 pr.kr, 1876 pr.kr, 1875 pr.kr, 1874 pr.kr, 1873 pr.kr, 1872 pr.kr, 1871 pr.kr, 1870 pr.kr, 1869 pr.kr, 1868 pr.kr, 1867 pr.kr, 1866 pr.kr, 1865 pr.kr, 1864 pr.kr, 1863 pr.kr, 1862 pr.kr, 1861 pr.kr, 1860 pr.kr, 1859 pr.kr, 1858 pr.kr, 1857 pr.kr, 1856 pr.kr, 1855 pr.kr, 1854 pr.kr, 1853 pr.kr, 1852 pr.kr, 1851 pr.kr, 1850 pr.kr, 1849 pr.kr, 1848 pr.kr, 1847 pr.kr, 1846 pr.kr, 1845 pr.kr, 1844 pr.kr, 1843 pr.kr, 1842 pr.kr, 1841 pr.kr, 1840 pr.kr, 1839 pr.kr, 1838 pr.kr, 1837 pr.kr, 1836 pr.kr, 1835 pr.kr, 1834 pr.kr, 1833 pr.kr, 1832 pr.kr, 1831 pr.kr, 1830 pr.kr, 1829 pr.kr, 1828 pr.kr, 1827 pr.kr, 1826 pr.kr, 1825 pr.kr, 1824 pr.kr, 1823 pr.kr, 1822 pr.kr, 1821 pr.kr, 1820 pr.kr, 1819 pr.kr, 1818 pr.kr, 1817 pr.kr, 1816 pr.kr, 1815 pr.kr, 1814 pr.kr, 1813 pr.kr, 1812 pr.kr, 1811 pr.kr, 1810 pr.kr, 1809 pr.kr, 1808 pr.kr, 1807 pr.kr, 1806 pr.kr, 1805 pr.kr, 1804 pr.kr, 1803 pr.kr, 1802 pr.kr, 1801 pr.kr, 1800 pr.kr, 1799 pr.kr, 1798 pr.kr, 1797 pr.kr, 1796 pr.kr, 1795 pr.kr, 1794 pr.kr, 1793 pr.kr, 1792 pr.kr, 1791 pr.kr, 1790 pr.kr, 1789 pr.kr, 1788 pr.kr, 1787 pr.kr, 1786 pr.kr, 1785 pr.kr, 1784 pr.kr, 1783 pr.kr, 1782 pr.kr, 1781 pr.kr, 1780 pr.kr, 1779 pr.kr, 1778 pr.kr, 1777 pr.kr, 1776 pr.kr, 1775 pr.kr, 1774 pr.kr, 1773 pr.kr, 1772 pr.kr, 1771 pr.kr, 1770 pr.kr, 1769 pr.kr, 1768 pr.kr, 1767 pr.kr, 1766 pr.kr, 1765 pr.kr, 1764 pr.kr, 1763 pr.kr, 1762 pr.kr, 1761 pr.kr, 1760 pr.kr, 1759 pr.kr, 1758 pr.kr, 1757 pr.kr, 1756 pr.kr, 1755 pr.kr, 1754 pr.kr, 1753 pr.kr, 1752 pr.kr, 1751 pr.kr, 1750 pr.kr, 1749 pr.kr, 1748 pr.kr, 1747 pr.kr, 1746 pr.kr, 1745 pr.kr, 1744 pr.kr, 1743 pr.kr, 1742 pr.kr, 1741 pr.kr, 1740 pr.kr, 1739 pr.kr, 1738 pr.kr, 1737 pr.kr, 1736 pr.kr, 1735 pr.kr, 1734 pr.kr, 1733 pr.kr, 1732 pr.kr, 1731 pr.kr, 1730 pr.kr, 1729 pr.kr, 1728 pr.kr, 1727 pr.kr, 1726 pr.kr, 1725 pr.kr, 1724 pr.kr, 1723 pr.kr, 1722 pr.kr, 1721 pr.kr, 1720 pr.kr, 1719 pr.kr, 1718 pr.kr, 1717 pr.kr, 1716 pr.kr, 1715 pr.kr, 1714 pr.kr, 1713 pr.kr, 1712 pr.kr, 1711 pr.kr, 1710 pr.kr, 1709 pr.kr, 1708 pr.kr, 1707 pr.kr, 1706 pr.kr, 1705 pr.kr, 1704 pr.kr, 1703 pr.kr, 1702 pr.kr, 1701 pr.kr, 1700 pr.kr, 1699 pr.kr, 1698 pr.kr, 1697 pr.kr, 1696 pr.kr, 1695 pr.kr, 1694 pr.kr, 1693 pr.kr, 1692 pr.kr, 1691 pr.kr, 1690 pr.kr, 1689 pr.kr, 1688 pr.kr, 1687 pr.kr, 1686 pr.kr, 1685 pr.kr, 1684 pr.kr, 1683 pr.kr, 1682 pr.kr, 1681 pr.kr, 1680 pr.kr, 1679 pr.kr, 1678 pr.kr, 1677 pr.kr, 1676 pr.kr, 1675 pr.kr, 1674 pr.kr, 1673 pr.kr, 1672 pr.kr, 1671 pr.kr, 1670 pr.kr, 1669 pr.kr, 1668 pr.kr, 1667 pr.kr, 1666 pr.kr, 1665 pr.kr, 1664 pr.kr, 1663 pr.kr, 1662 pr.kr, 1661 pr.kr, 1660 pr.kr, 1659 pr.kr, 1658 pr.kr, 1657 pr.kr, 1656 pr.kr, 1655 pr.kr, 1654 pr.kr, 1653 pr.kr, 1652 pr.kr, 1651 pr.kr, 1650 pr.kr, 1649 pr.kr, 1648 pr.kr, 1647 pr.kr, 1646 pr.kr, 1645 pr.kr, 1644 pr.kr, 1643 pr.kr, 1642 pr.kr, 1641 pr.kr, 1640 pr.kr, 1639 pr.kr, 1638 pr.kr, 1637 pr.kr, 1636 pr.kr, 1635 pr.kr, 1634 pr.kr, 1633 pr.kr, 1632 pr.kr, 1631 pr.kr, 1630 pr.kr, 1629 pr.kr, 1628 pr.kr, 1627 pr.kr, 1626 pr.kr, 1625 pr.kr, 1624 pr.kr, 1623 pr.kr, 1622 pr.kr, 1621 pr.kr, 1620 pr.kr, 1619 pr.kr, 1618 pr.kr, 1617 pr.kr, 1616 pr.kr, 1615 pr.kr, 1614 pr.kr, 1613 pr.kr, 1612 pr.kr, 1611 pr.kr, 1610 pr.kr, 1609 pr.kr, 1608 pr.kr, 1607 pr.kr, 1606 pr.kr, 1605 pr.kr, 1604 pr.kr, 1603 pr.kr, 1602 pr.kr, 1601 pr.kr, 1600 pr.kr, 1599 pr.kr, 1598 pr.kr, 1597 pr.kr, 1596 pr.kr, 1595 pr.kr, 1594 pr.kr, 1593 pr.kr, 1592 pr.kr, 1591 pr.kr, 1590 pr.kr, 1589 pr.kr, 1588 pr.kr, 1587 pr.kr, 1586 pr.kr, 1585 pr.kr, 1584 pr.kr, 1583 pr.kr, 1582 pr.kr, 1581 pr.kr, 1580 pr.kr, 1579 pr.kr, 1578 pr.kr, 1577 pr.kr, 1576 pr.kr, 1575 pr.kr, 1574 pr.kr, 1573 pr.kr, 1572 pr.kr, 1571 pr.kr, 1570 pr.kr, 1569 pr.kr, 1568 pr.kr, 1567 pr.kr, 1566 pr.kr, 1565 pr.kr, 1564 pr.kr, 1563 pr.kr, 1562 pr.kr, 1561 pr.kr, 1560 pr.kr, 1559 pr.kr, 1558 pr.kr, 1557 pr.kr, 1556 pr.kr, 1555 pr.kr, 1554 pr.kr, 1553 pr.kr, 1552 pr.kr, 1551 pr.kr, 1550 pr.kr, 1549 pr.kr, 1548 pr.kr, 1547 pr.kr, 1546 pr.kr, 1545 pr.kr, 1544 pr.kr, 1543 pr.kr, 1542 pr.kr, 1541 pr.kr, 1540 pr.kr, 1539 pr.kr, 1538 pr.kr, 1537 pr.kr, 1536 pr.kr, 1535 pr.kr, 1534 pr.kr, 1533 pr.kr, 1532 pr.kr, 1531 pr.kr, 1530 pr.kr, 1529 pr.kr, 1528 pr.kr, 1527 pr.kr, 1526 pr.kr, 1525 pr.kr, 1524 pr.kr, 1523 pr.kr, 1522 pr.kr, 1521 pr.kr, 1520 pr.kr, 1519 pr.kr, 1518 pr.kr, 1517 pr.kr, 1516 pr.kr, 1515 pr.kr, 1514 pr.kr, 1513 pr.kr, 1512 pr.kr, 1511 pr.kr, 1510 pr.kr, 1509 pr.kr, 1508 pr.kr, 1507 pr.kr, 1506 pr.kr, 1505 pr.kr, 1504 pr.kr, 1503 pr.kr, 1502 pr.kr, 1501 pr.kr, 1500 pr.kr, 1499 pr.kr, 1498 pr.kr, 1497 pr.kr, 1496 pr.kr, 1495 pr.kr, 1494 pr.kr, 1493 pr.kr, 1492 pr.kr, 1491 pr.kr, 1490 pr.kr, 1489 pr.kr, 1488 pr.kr, 1487 pr.kr, 1486 pr.kr, 1485 pr.kr, 1484 pr.kr, 1483 pr.kr, 1482 pr.kr, 1481 pr.kr, 1480 pr.kr, 1479 pr.kr, 1478 pr.kr, 1477 pr.kr, 1476 pr.kr, 1475 pr.kr, 1474 pr.kr, 1473 pr.kr, 1472 pr.kr, 1471 pr.kr, 1470 pr.kr, 1469 pr.kr, 1468 pr.kr, 1467 pr.kr, 1466 pr.kr, 1465 pr.kr, 1464 pr.kr, 1463 pr.kr, 1462 pr.kr, 1461 pr.kr, 1460 pr.kr, 1459 pr.kr, 1458 pr.kr, 1457 pr.kr, 1456 pr.kr, 1455 pr.kr, 1454 pr.kr, 1453 pr.kr, 1452 pr.kr, 1451 pr.kr, 1450 pr.kr, 1449 pr.kr, 1448 pr.kr, 1447 pr.kr, 1446 pr.kr, 1445 pr.kr, 1444 pr.kr, 1443 pr.kr, 1442 pr.kr, 1441 pr.kr, 1440 pr.kr, 1439 pr.kr, 1438 pr.kr, 1437 pr.kr, 1436 pr.kr, 1435 pr.kr, 1434 pr.kr, 1433 pr.kr, 1432 pr.kr, 1431 pr.kr, 1430 pr.kr, 1429 pr.kr, 1428 pr.kr, 1427 pr.kr, 1426 pr.kr, 1425 pr.kr, 1424 pr.kr, 1423 pr.kr, 1422 pr.kr, 1421 pr.kr, 1420 pr.kr, 1419 pr.kr, 1418 pr.kr, 1417 pr.kr, 1416 pr.kr, 1415 pr.kr, 1414 pr.kr, 1413 pr.kr, 1412 pr.kr, 1411 pr.kr, 1410 pr.kr, 1409 pr.kr, 1408 pr.kr, 1407 pr.kr, 1406 pr.kr, 1405 pr.kr, 1404 pr.kr, 1403 pr.kr, 1402 pr.kr, 1401 pr.kr, 1400 pr.kr, 1399 pr.kr, 1398 pr.kr, 1397 pr.kr, 1396 pr.kr, 1395 pr.kr, 1394 pr.kr, 1393 pr.kr, 1392 pr.kr, 1391 pr.kr, 1390 pr.kr, 1389 pr.kr, 1388 pr.kr, 1387 pr.kr, 1386 pr.kr, 1385 pr.kr, 1384 pr.kr, 1383 pr.kr, 1382 pr.kr, 1381 pr.kr, 1380 pr.kr, 1379 pr.kr, 1378 pr.kr, 1377 pr.kr, 1376 pr.kr, 1375 pr.kr, 1374 pr.kr, 1373 pr.kr, 1372 pr.kr, 1371 pr.kr, 1370 pr.kr, 1369 pr.kr, 1368 pr.kr, 1367 pr.kr, 1366 pr.kr, 1365 pr.kr, 1364 pr.kr, 1363 pr.kr, 1362 pr.kr, 1361 pr.kr, 1360 pr.kr, 1359 pr.kr, 1358 pr.kr, 1357 pr.kr, 1356 pr.kr, 1355 pr.kr, 1354 pr.kr, 1353 pr.kr, 1352 pr.kr, 1351 pr.kr, 1350 pr.kr, 1349 pr.kr, 1348 pr.kr, 1347 pr.kr, 1346 pr.kr, 1345 pr.kr, 1344 pr.kr, 1343 pr.kr, 1342 pr.kr, 1341 pr.kr, 1340 pr.kr, 1339 pr.kr, 1338 pr.kr, 1337 pr.kr, 1336 pr.kr, 1335 pr.kr, 1334 pr.kr, 1333 pr.kr, 1332 pr.kr, 1331 pr.kr, 1330 pr.kr, 1329 pr.kr, 1328 pr.kr, 1327 pr.kr, 1326 pr.kr, 1325 pr.kr, 1324 pr.kr, 1323 pr.kr, 1322 pr.kr, 1321 pr.kr, 1320 pr.kr, 1319 pr.kr, 1318 pr.kr, 1317 pr.kr, 1316 pr.kr, 1315 pr.kr, 1314 pr.kr, 1313 pr.kr, 1312 pr.kr, 1311 pr.kr, 1310 pr.kr, 1309 pr.kr, 1308 pr.kr, 1307 pr.kr, 1306 pr.kr, 1305 pr.kr, 1304 pr.kr, 1303 pr.kr, 1302 pr.kr, 1301 pr.kr, 1300 pr.kr, 1299 pr.kr, 1298 pr.kr, 1297 pr.kr, 1296 pr.kr, 1295 pr.kr, 1294 pr.kr, 1293 pr.kr, 1292 pr.kr, 1291 pr.kr, 1290 pr.kr, 1289 pr.kr, 1288 pr.kr, 1287 pr.kr, 1286 pr.kr, 1285 pr.kr, 1284 pr.kr, 1283 pr.kr, 1282 pr.kr, 1281 pr.kr, 1280 pr.kr, 1279 pr.kr, 1278 pr.kr, 1277 pr.kr, 1276 pr.kr, 1275 pr.kr, 1274 pr.kr, 1273 pr.kr, 1272 pr.kr, 1271 pr.kr, 1270 pr.kr, 1269 pr.kr, 1268 pr.kr, 1267 pr.kr, 1266 pr.kr, 1265 pr.kr, 1264 pr.kr, 1263 pr.kr, 1262 pr.kr, 1261 pr.kr, 1260 pr.kr, 1259 pr.kr, 1258 pr.kr, 1257 pr.kr, 1256 pr.kr, 1255 pr.kr, 1254 pr.kr, 1253 pr.kr, 1252 pr.kr, 1251 pr.kr, 1250 pr.kr, 1249 pr.kr, 1248 pr.kr, 1247 pr.kr, 1246 pr.kr, 1245 pr.kr, 1244 pr.kr, 1243 pr.kr, 1242 pr.kr, 1241 pr.kr, 1240 pr.kr, 1239 pr.kr, 1238 pr.kr, 1237 pr.kr, 1236 pr.kr, 1235 pr.kr, 1234 pr.kr, 1233 pr.kr, 1232 pr.kr, 1231 pr.kr, 1230 pr.kr, 1229 pr.kr, 1228 pr.kr, 1227 pr.kr, 1226 pr.kr, 1225 pr.kr, 1224 pr.kr, 1223 pr.kr, 1222 pr.kr, 1221 pr.kr, 1220 pr.kr, 1219 pr.kr, 1218 pr.kr, 1217 pr.kr, 1216 pr.kr, 1215 pr.kr, 1214 pr.kr, 1213 pr.kr, 1212 pr.kr, 1211 pr.kr, 1210 pr.kr, 1209 pr.kr, 1208 pr.kr, 1207 pr.kr, 1206 pr.kr, 1205 pr.kr, 1204 pr.kr, 1203 pr.kr, 1202 pr.kr, 1201 pr.kr, 1200 pr.kr, 1199 pr.kr, 1198 pr.kr, 1197 pr.kr, 1196 pr.kr, 1195 pr.kr, 1194 pr.kr, 1193 pr.kr, 1192 pr.kr, 1191 pr.kr, 1190 pr.kr, 1189 pr.kr, 1188 pr.kr, 1187 pr.kr, 1186 pr.kr, 1185 pr.kr, 1184 pr.kr, 1183 pr.kr, 1182 pr.kr, 1181 pr.kr, 1180 pr.kr, 1179 pr.kr, 1178 pr.kr, 1177 pr.kr, 1176 pr.kr, 1175 pr.kr, 1174 pr.kr, 1173 pr.kr, 1172 pr.kr, 1171 pr.kr, 1170 pr.kr, 1169 pr.kr, 1168 pr.kr, 1167 pr.kr, 1166 pr.kr, 1165 pr.kr, 1164 pr.kr, 1163 pr.kr, 1162 pr.kr, 1161 pr.kr, 1160 pr.kr, 1159 pr.kr, 1158 pr.kr, 1157 pr.kr, 1156 pr.kr, 1155 pr.kr, 1154 pr.kr, 1153 pr.kr, 1152 pr.kr, 1151 pr.kr, 1150 pr.kr, 1149 pr.kr, 1148 pr.kr, 1147 pr.kr, 1146 pr.kr, 1145 pr.kr, 1144 pr.kr, 1143 pr.kr, 1142 pr.kr, 1141 pr.kr, 1140 pr.kr, 1139 pr.kr, 1138 pr.kr, 1137 pr.kr, 1136 pr.kr, 1135 pr.kr, 1134 pr.kr, 1133 pr.kr, 1132 pr.kr, 1131 pr.kr, 1130 pr.kr, 1129 pr.kr, 1128 pr.kr, 1127 pr.kr, 1126 pr.kr, 1125 pr.kr, 1124 pr.kr, 1123 pr.kr, 1122 pr.kr, 1121 pr.kr, 1120 pr.kr, 1119 pr.kr, 1118 pr.kr, 1117 pr.kr, 1116 pr.kr, 1115 pr.kr, 1114 pr.kr, 1113 pr.kr, 1112 pr.kr, 1111 pr.kr, 1110 pr.kr, 1109 pr.kr, 1108 pr.kr, 1107 pr.kr, 1106 pr.kr, 1105 pr.kr, 1104 pr.kr, 1103 pr.kr, 1102 pr.kr, 1101 pr.kr, 1100 pr.kr, 1099 pr.kr, 1098 pr.kr, 1097 pr.kr, 1096 pr.kr, 1095 pr.kr, 1094 pr.kr, 1093 pr.kr, 1092 pr.kr, 1091 pr.kr, 1090 pr.kr, 1089 pr.kr, 1088 pr.kr, 1087 pr.kr, 1086 pr.kr, 1085 pr.kr, 1084 pr.kr, 1083 pr.kr, 1082 pr.kr, 1081 pr.kr, 1080 pr.kr, 1079 pr.kr, 1078 pr.kr, 1077 pr.kr, 1076 pr.kr, 1075 pr.kr, 1074 pr.kr, 1073 pr.kr, 1072 pr.kr, 1071 pr.kr, 1070 pr.kr, 1069 pr.kr, 1068 pr.kr, 1067 pr.kr, 1066 pr.kr, 1065 pr.kr, 1064 pr.kr, 1063 pr.kr, 1062 pr.kr, 1061 pr.kr, 1060 pr.kr, 1059 pr.kr, 1058 pr.kr, 1057 pr.kr, 1056 pr.kr, 1055 pr.kr, 1054 pr.kr, 1053 pr.kr, 1052 pr.kr, 1051 pr.kr, 1050 pr.kr, 1049 pr.kr, 1048 pr.kr, 1047 pr.kr, 1046 pr.kr, 1045 pr.kr, 1044 pr.kr, 1043 pr.kr, 1042 pr.kr, 1041 pr.kr, 1040 pr.kr, 1039 pr.kr, 1038 pr.kr, 1037 pr.kr, 1036 pr.kr, 1035 pr.kr, 1034 pr.kr, 1033 pr.kr, 1032 pr.kr, 1031 pr.kr, 1030 pr.kr, 1029 pr.kr, 1028 pr.kr, 1027 pr.kr, 1026 pr.kr, 1025 pr.kr, 1024 pr.kr, 1023 pr.kr, 1022 pr.kr, 1021 pr.kr, 1020 pr.kr, 1019 pr.kr, 1018 pr.kr, 1017 pr.kr, 1016 pr.kr, 1015 pr.kr, 1014 pr.kr, 1013 pr.kr, 1012 pr.kr, 1011 pr.kr, 1010 pr.kr, 1009 pr.kr, 1008 pr.kr, 1007 pr.kr, 1006 pr.kr, 1005 pr.kr, 1004 pr.kr, 1003 pr.kr, 1002 pr.kr, 1001 pr.kr, 1000 pr.kr, 999 pr.kr, 998 pr.kr, 997 pr.kr, 996 pr.kr, 995 pr.kr, 994 pr.kr, 993 pr.kr, 992 pr.kr, 991 pr.kr, 990 pr.kr, 989 pr.kr, 988 pr.kr, 987 pr.kr, 986 pr.kr, 985 pr.kr, 984 pr.kr, 983 pr.kr, 982 pr.kr, 981 pr.kr, 980 pr.kr, 979 pr.kr, 978 pr.kr, 977 pr.kr, 976 pr.kr, 975 pr.kr, 974 pr.kr, 973 pr.kr, 972 pr.kr, 971 pr.kr, 970 pr.kr, 969 pr.kr, 968 pr.kr, 967 pr.kr, 966 pr.kr, 965 pr.kr, 964 pr.kr, 963 pr.kr, 962 pr.kr, 961 pr.kr, 960 pr.kr, 959 pr.kr, 958 pr.kr, 957 pr.kr, 956 pr.kr, 955 pr.kr, 954 pr.kr, 953 pr.kr, 952 pr.kr, 951 pr.kr, 950 pr.kr, 949 pr.kr, 948 pr.kr, 947 pr.kr, 946 pr.kr, 945 pr.kr, 944 pr.kr, 943 pr.kr, 942 pr.kr, 941 pr.kr, 940 pr.kr, 939 pr.kr, 938 pr.kr, 937 pr.kr, 936 pr.kr, 935 pr.kr, 934 pr.kr, 933 pr.kr, 932 pr.kr, 931 pr.kr, 930 pr.kr, 929 pr.kr, 928 pr.kr, 927 pr.kr, 926 pr.kr, 925 pr.kr, 924 pr.kr, 923 pr.kr, 922 pr.kr, 921 pr.kr, 920 pr.kr, 919 pr.kr, 918 pr.kr, 917 pr.kr, 916 pr.kr, 915 pr.kr, 914 pr.kr, 913 pr.kr, 912 pr.kr, 911 pr.kr, 910 pr.kr, 909 pr.kr, 908 pr.kr, 907 pr.kr, 906 pr.kr, 905 pr.kr, 904 pr.kr, 903 pr.kr, 902 pr.kr, 901 pr.kr, 900 pr.kr, 899 pr.kr, 898 pr.kr, 897 pr.kr, 896 pr.kr, 895 pr.kr, 894 pr.kr, 893 pr.kr, 892 pr.kr, 891 pr.kr, 890 pr.kr, 889 pr.kr, 888 pr.kr, 887 pr.kr, 886 pr.kr, 885 pr.kr, 884 pr.kr, 883 pr.kr, 882 pr.kr, 881 pr.kr, 880 pr.kr, 879 pr.kr, 878 pr.kr, 877 pr.kr, 876 pr.kr, 875 pr.kr, 874 pr.kr, 873 pr.kr, 872 pr.kr, 871 pr.kr, 870 pr.kr, 869 pr.kr, 868 pr.kr, 867 pr.kr, 866 pr.kr, 865 pr.kr, 864 pr.kr, 863 pr.kr, 862 pr.kr, 861 pr.kr, 860 pr.kr, 859 pr.kr, 858 pr.kr, 857 pr.kr, 856 pr.kr, 855 pr.kr, 854 pr.kr, 853 pr.kr, 852 pr.kr, 851 pr.kr, 850 pr.kr, 849 pr.kr, 848 pr.kr, 847 pr.kr, 846 pr.kr, 845 pr.kr, 844 pr.kr, 843 pr.kr, 842 pr.kr, 841 pr.kr, 840 pr.kr, 839 pr.kr, 838 pr.kr, 837 pr.kr, 836 pr.kr, 835 pr.kr, 834 pr.kr, 833 pr.kr, 832 pr.kr, 831 pr.kr, 830 pr.kr, 829 pr.kr, 828 pr.kr, 827 pr.kr, 826 pr.kr, 825 pr.kr, 824 pr.kr, 823 pr.kr, 822 pr.kr, 821 pr.kr, 820 pr.kr, 819 pr.kr, 818 pr.kr, 817 pr.kr, 816 pr.kr, 815 pr.kr, 814 pr.kr, 813 pr.kr, 812 pr.kr, 811 pr.kr, 810 pr.kr, 809 pr.kr, 808 pr.kr, 807 pr.kr, 806 pr.kr, 805 pr.kr, 804 pr.kr, 803 pr.kr, 802 pr.kr, 801 pr.kr, 800 pr.kr, 799 pr.kr, 798 pr.kr, 797 pr.kr, 796 pr.kr, 795 pr.kr, 794 pr.kr, 793 pr.kr, 792 pr.kr, 791 pr.kr, 790 pr.kr, 789 pr.kr, 788 pr.kr, 787 pr.kr, 786 pr.kr, 785 pr.kr, 784 pr.kr, 783 pr.kr, 782 pr.kr, 781 pr.kr, 780 pr.kr, 779 pr.kr, 778 pr.kr, 777 pr.kr, 776 pr.kr, 775 pr.kr, 774 pr.kr, 773 pr.kr, 772 pr.kr, 771 pr.kr, 770 pr.kr, 769 pr.kr, 768 pr.kr, 767 pr.kr, 766 pr.kr, 765 pr.kr, 764 pr.kr, 763 pr.kr, 762 pr.kr, 761 pr.kr, 760 pr.kr, 759 pr.kr, 758 pr.kr, 757 pr.kr, 756 pr.kr, 755 pr.kr, 754 pr.kr, 753 pr.kr, 752 pr.kr, 751 pr.kr, 750 pr.kr, 749 pr.kr, 748 pr.kr, 747 pr.kr, 746 pr.kr, 745 pr.kr, 744 pr.kr, 743 pr.kr, 742 pr.kr, 741 pr.kr, 740 pr.kr, 739 pr.kr, 738 pr.kr, 737 pr.kr, 736 pr.kr, 735 pr.kr, 734 pr.kr, 733 pr.kr, 732 pr.kr, 731 pr.kr, 730 pr.kr, 729 pr.kr, 728 pr.kr, 727 pr.kr, 726 pr.kr, 725 pr.kr, 724 pr.kr, 723 pr.kr, 722 pr.kr, 721 pr.kr, 720 pr.kr, 719 pr.kr, 718 pr.kr, 717 pr.kr, 716 pr.kr, 715 pr.kr, 714 pr.kr, 713 pr.kr, 712 pr.kr, 711 pr.kr, 710 pr.kr, 709 pr.kr, 708 pr.kr, 707 pr.kr, 706 pr.kr, 705 pr.kr, 704 pr.kr, 703 pr.kr, 702 pr.kr, 701 pr.kr, 700 pr.kr, 699 pr.kr, 698 pr.kr, 697 pr.kr, 696 pr.kr, 695 pr.kr, 694 pr.kr, 693 pr.kr, 692 pr.kr, 691 pr.kr, 690 pr.kr, 689 pr.kr, 688 pr.kr, 687 pr.kr, 686 pr.kr, 685 pr.kr, 684 pr.kr, 683 pr.kr, 682 pr.kr, 681 pr.kr, 680 pr.kr, 679 pr.kr, 678 pr.kr, 677 pr.kr, 676 pr.kr, 675 pr.kr, 674 pr.kr, 673 pr.kr, 672 pr.kr, 671 pr.kr, 670 pr.kr, 669 pr.kr, 668 pr.kr, 667 pr.kr, 666 pr.kr, 665 pr.kr, 664 pr.kr, 663 pr.kr, 662 pr.kr, 661 pr.kr, 660 pr.kr, 659 pr.kr, 658 pr.kr, 657 pr.kr, 656 pr.kr, 655 pr.kr, 654 pr.kr, 653 pr.kr, 652 pr.kr, 651 pr.kr, 650 pr.kr, 649 pr.kr, 648 pr.kr, 647 pr.kr, 646 pr.kr, 645 pr.kr, 644 pr.kr, 643 pr.kr, 642 pr.kr, 641 pr.kr, 640 pr.kr, 639 pr.kr, 638 pr.kr, 637 pr.kr, 636 pr.kr, 635 pr.kr, 634 pr.kr, 633 pr.kr, 632 pr.kr, 631 pr.kr, 630 pr.kr, 629 pr.kr, 628 pr.kr, 627 pr.kr, 626 pr.kr, 625 pr.kr, 624 pr.kr, 623 pr.kr, 622 pr.kr, 621 pr.kr, 620 pr.kr, 619 pr.kr, 618 pr.kr, 617 pr.kr, 616 pr.kr, 615 pr.kr, 614 pr.kr, 613 pr.kr, 612 pr.kr, 611 pr.kr, 610 pr.kr, 609 pr.kr, 608 pr.kr, 607 pr.kr, 606 pr.kr, 605 pr.kr, 604 pr.kr, 603 pr.kr, 602 pr.kr, 601 pr.kr, 600 pr.kr, 599 pr.kr, 598 pr.kr, 597 pr.kr, 596 pr.kr, 595 pr.kr, 594 pr.kr, 593 pr.kr, 592 pr.kr, 591 pr.kr, 590 pr.kr, 589 pr.kr, 588 pr.kr, 587 pr.kr, 586 pr.kr, 585 pr.kr, 584 pr.kr, 583 pr.kr, 582 pr.kr, 581 pr.kr, 580 pr.kr, 579 pr.kr, 578 pr.kr, 577 pr.kr, 576 pr.kr, 575 pr.kr, 574 pr.kr, 573 pr.kr, 572 pr.kr, 571 pr.kr, 570 pr.kr, 569 pr.kr, 568 pr.kr, 567 pr.kr, 566 pr.kr, 565 pr.kr, 564 pr.kr, 563 pr.kr, 562 pr.kr, 561 pr.kr, 560 pr.kr, 559 pr.kr, 558 pr.kr, 557 pr.kr, 556 pr.kr, 555 pr.kr, 554 pr.kr, 553 pr.kr, 552 pr.kr, 551 pr.kr, 550 pr.kr, 549 pr.kr, 548 pr.kr, 547 pr.kr, 546 pr.kr, 545 pr.kr, 544 pr.kr, 543 pr.kr, 542 pr.kr, 541 pr.kr, 540 pr.kr, 539 pr.kr, 538 pr.kr, 537 pr.kr, 536 pr.kr, 535 pr.kr, 534 pr.kr, 533 pr.kr, 532 pr.kr, 531 pr.kr, 530 pr.kr, 529 pr.kr, 528 pr.kr, 527 pr.kr, 526 pr.kr, 525 pr.kr, 524 pr.kr, 523 pr.kr, 522 pr.kr, 521 pr.kr, 520 pr.kr, 519 pr.kr, 518 pr.kr, 517 pr.kr, 516 pr.kr, 515 pr.kr, 514 pr.kr, 513 pr.kr, 512 pr.kr, 511 pr.kr, 510 pr.kr, 509 pr.kr, 508 pr.kr, 507 pr.kr, 506 pr.kr, 505 pr.kr, 504 pr.kr, 503 pr.kr, 502 pr.kr, 501 pr.kr, 500 pr.kr, 499 pr.kr, 498 pr.kr, 497 pr.kr, 496 pr.kr, 495 pr.kr, 494 pr.kr, 493 pr.kr, 492 pr.kr, 491 pr.kr, 490 pr.kr, 489 pr.kr, 488 pr.kr, 487 pr.kr, 486 pr.kr, 485 pr.kr, 484 pr.kr, 483 pr.kr, 482 pr.kr, 481 pr.kr, 480 pr.kr, 479 pr.kr, 478 pr.kr, 477 pr.kr, 476 pr.kr, 475 pr.kr, 474 pr.kr, 473 pr.kr, 472 pr.kr, 471 pr.kr, 470 pr.kr, 469 pr.kr, 468 pr.kr, 467 pr.kr, 466 pr.kr, 465 pr.kr, 464 pr.kr, 463 pr.kr, 462 pr.kr, 461 pr.kr, 460 pr.kr, 459 pr.kr, 458 pr.kr, 457 pr.kr, 456 pr.kr, 455 pr.kr, 454 pr.kr, 453 pr.kr, 452 pr.kr, 451 pr.kr, 450 pr.kr, 449 pr.kr, 448 pr.kr, 447 pr.kr, 446 pr.kr, 445 pr.kr, 444 pr.kr, 443 pr.kr, 442 pr.kr, 441 pr.kr, 440 pr.kr, 439 pr.kr, 438 pr.kr, 437 pr.kr, 436 pr.kr, 435 pr.kr, 434 pr.kr, 433 pr.kr, 432 pr.kr, 431 pr.kr, 430 pr.kr, 429 pr.kr, 428 pr.kr, 427 pr.kr, 426 pr.kr, 425 pr.kr, 424 pr.kr, 423 pr.kr, 422 pr.kr, 421 pr.kr, 420 pr.kr, 419 pr.kr, 418 pr.kr, 417 pr.kr, 416 pr.kr, 415 pr.kr, 414 pr.kr, 413 pr.kr, 412 pr.kr, 411 pr.kr, 410 pr.kr, 409 pr.kr, 408 pr.kr, 407 pr.kr, 406 pr.kr, 405 pr.kr, 404 pr.kr, 403 pr.kr, 402 pr.kr, 401 pr.kr, 400 pr.kr, 399 pr.kr, 398 pr.kr, 397 pr.kr, 396 pr.kr, 395 pr.kr, 394 pr.kr, 393 pr.kr, 392 pr.kr, 391 pr.kr, 390 pr.kr, 389 pr.kr, 388 pr.kr, 387 pr.kr, 386 pr.kr, 385 pr.kr, 384 pr.kr, 383 pr.kr, 382 pr.kr, 381 pr.kr, 380 pr.kr, 379 pr.kr, 378 pr.kr, 377 pr.kr, 376 pr.kr, 375 pr.kr, 374 pr.kr, 373 pr.kr, 372 pr.kr, 371 pr.kr, 370 pr.kr, 369 pr.kr, 368 pr.kr, 367 pr.kr, 366 pr.kr, 365 pr.kr, 364 pr.kr, 363 pr.kr, 362 pr.kr, 361 pr.kr, 360 pr.kr, 359 pr.kr, 358 pr.kr, 357 pr.kr, 356 pr.kr, 355 pr.kr, 354 pr.kr, 353 pr.kr, 352 pr.kr, 351 pr.kr, 350 pr.kr, 349 pr.kr, 348 pr.kr, 347 pr.kr, 346 pr.kr, 345 pr.kr, 344 pr.kr, 343 pr.kr, 342 pr.kr, 341 pr.kr, 340 pr.kr, 339 pr.kr, 338 pr.kr, 337 pr.kr, 336 pr.kr, 335 pr.kr, 334 pr.kr, 333 pr.kr, 332 pr.kr, 331 pr.kr, 330 pr.kr, 329 pr.kr, 328 pr.kr, 327 pr.kr, 326 pr.kr, 325 pr.kr, 324 pr.kr, 323 pr.kr, 322 pr.kr, 321 pr.kr, 320 pr.kr, 319 pr.kr, 318 pr.kr, 317 pr.kr, 316 pr.kr, 315 pr.kr, 314 pr.kr, 313 pr.kr, 312 pr.kr, 311 pr.kr, 310 pr.kr, 309 pr.kr, 308 pr.kr, 307 pr.kr, 306 pr.kr, 305 pr.kr, 304 pr.kr, 303 pr.kr, 302 pr.kr, 301 pr.kr, 300 pr.kr, 299 pr.kr, 298 pr.kr, 297 pr.kr, 296 pr.kr, 295 pr.kr, 294 pr.kr, 293 pr.kr, 292 pr.kr, 291 pr.kr, 290 pr.kr, 289 pr.kr, 288 pr.kr, 287 pr.kr, 286 pr.kr, 285 pr.kr, 284 pr.kr, 283 pr.kr, 282 pr.kr, 281 pr.kr, 280 pr.kr, 279 pr.kr, 278 pr.kr, 277 pr.kr, 276 pr.kr, 275 pr.kr, 274 pr.kr, 27

In [205]:
for skaicius in skaiciai:
    if skaicius > 10:
        break
    print(skaicius)
else:
    print("skaiciai baigesi")
print("vaziuojam toliau")

2
6
7
9
vaziuojam toliau

In [206]:
print(*skaiciai)

2 6 7 9 41 4 46 789

In [207]:
for skaicius in skaiciai:
    if skaicius > 10:
        continue
    print(skaicius)
else:
    print("skaiciai baigesi")

2
6
7
9
4
skaiciai baigesi

In [208]:
for skaicius in skaiciai:
    if skaicius % 2 == 0:
        pass
    else:
        print(f"{skaicius} nelyginis")

7 nelyginis
9 nelyginis
41 nelyginis
789 nelyginis

In [209]:
for indeksas, skaicius in enumerate(skaiciai):
    print(f"{(indeksas+1):5d} -------- {skaicius:5d}")

    1 --------     2
    2 --------     6
    3 --------     7
    4 --------     9
    5 --------    41
    6 --------     4
    7 --------    46
    8 --------   789

In [210]:
skaiciu_zodynas = dict(enumerate(skaiciai))
for indeksas, skaicius in skaiciu_zodynas.items():
    # print(f"{indeksas+1}: {skaicius}")
    skaiciu_zodynas[indeksas] -= 5
    print(f"{indeksas+1}: {skaiciu_zodynas[indeksas]}")

1: -3
2: 1
3: 2
4: 4
5: 36
6: -1
7: 41
8: 784

In [211]:
modeliai = "S 3 X Y".split()
spalvos = ["balta", "juoda", "raudona", "mÄ—lyna", "sidabrinÄ—"]
for modelis in modeliai:
    print(f"turime Å¡iÅ³ spalvÅ³ {modelis}:")
    for spalva in spalvos:
        print(f"{spalva}", end=", ")
    print()

turime Å¡iÅ³ spalvÅ³ S:
balta, juoda, raudona, mÄ—lyna, sidabrinÄ—,
turime Å¡iÅ³ spalvÅ³ 3:
balta, juoda, raudona, mÄ—lyna, sidabrinÄ—,
turime Å¡iÅ³ spalvÅ³ X:
balta, juoda, raudona, mÄ—lyna, sidabrinÄ—,
turime Å¡iÅ³ spalvÅ³ Y:
balta, juoda, raudona, mÄ—lyna, sidabrinÄ—,

In [212]:
saldytuvas

{'darzoves': {'morkos': 5, 'kopustai': 1},
 'gÄ—rimai': {'pienas': 2, 'alus': 24, 'gira': 7},
 'mÄ—sa': {'kumpis': 2.8, 'skilandine': 5, 'vista': 4}}

## `while` ciklas

In [216]:
skaicius = 0
while skaicius <= 5:
    skaicius += 1
    print(skaicius)

1
2
3
4
5
6

In [217]:
while True:
    komanda = input("Ka?: ")
    if komanda == "":
        break
    print("nesupratau")

nesupratau
nesupratau
nesupratau
nesupratau

In [225]:
skaicius = 1800
while skaicius > 0:
    skaicius -= 1
    if skaicius % 60 > 0:
        continue
    print(skaicius // 60)
else:
    print("LAUNCH!!!")

29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0
LAUNCH!!!

In [228]:
skaicius = 100
while skaicius > 0:
    skaicius -= 1
    if skaicius % 10 > 0 and skaicius > 20:
        continue
    elif skaicius % 5 and skaicius > 5:
        continue
    print(skaicius)
else:
    print("LAUNCH!!!")

90
80
70
60
50
40
30
20
15
10
5
4
3
2
1
0
LAUNCH!!!

## tuples

In [230]:
vienute = ("vienas", )
print(vienute, type(vienute))

('vienas',) <class 'tuple'>

In [231]:
nekeiciamieji = (1, 2, 3, 4, 5)
print(nekeiciamieji, type(nekeiciamieji))

(1, 2, 3, 4, 5) <class 'tuple'>

In [232]:
mixiukas = vienute + nekeiciamieji
print(mixiukas)

('vienas', 1, 2, 3, 4, 5)

In [235]:
mixiukas[2:4]

(2, 3)

In [236]:
mixiukas[-1]

5

In [237]:
mixiukas[:0:-1]

(5, 4, 3, 2, 1)

In [238]:
mixiukas += (3, 2, 5, 5, 3, 1, 2, 2, 2, 2)
print(mixiukas)

('vienas', 1, 2, 3, 4, 5, 3, 2, 5, 5, 3, 1, 2, 2, 2, 2)

In [239]:
print(mixiukas.count(2))

6

In [241]:
print(mixiukas.index(2, 3))

7

In [243]:
print(5 in mixiukas)

True

In [247]:
for elementas in mixiukas[1:]:
    print(elementas, end=" ")

1 2 3 4 5 3 2 5 5 3 1 2 2 2 2

In [252]:
skaitliukas = 0
while skaitliukas < len(mixiukas):
    if type(mixiukas[skaitliukas]) == int:
        print(mixiukas[skaitliukas], end="")
    skaitliukas += 1

123453255312222